@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
}
/* Blog Form */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid
}